{{> header}}

<section class="hero hero--background is-medium has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title title--big title--underlined color-inverted is-3">{{text 'title'}}</h1>
    </div>
  </div>
</section>

{{> footer}}
